src/picohttpparser/*.
src/picohttpparser/Makefile
src/picohttpparser/Jamfile
src/picohttpparser/README.md
src/picohttpparser/bench.c
src/picohttpparser/test.c
*.pyc
build/

# intellij crap
.idea/
cmake-build-debug/

